button {
font: bold 30px Arial;
color: #333333;
padding: 2px 6px 2px 6px;
border-top: 1px solid #CCCCCC;
border-right: 1px solid #333333;
border-bottom: 1px solid #333333;
border-left: 1px solid #CCCCCC;
}

img {
length: 500px;
width: 500px;
}

.react {
display: inline-block;
}

.profile {
background-color: lightblue;
width: 700px;
}

#like {
background-color: lightgreen;
}

#dislike {
background-color: red;
}

